<html>
<body>
<h3>Perubahan Password Akun Aplikasi BPLHD Jawa Barat Anda</h3>

Dengan Hormat,
<br>

Kami beritahukan bahwa data password anda telah berubah. adapun 
data account anda yang baru adalah sebagai berikut :

<p>
<table width=300 cellpadding=5 cellspacing=1 border=1>
<tr><td width=40%>Email</td><td>#x1#</td></tr>
<tr><td width=40%>Password</td><td>#x2#</td></tr>
</table>
</p>

Anda dapat login ke aplikasi dengan memasukan email dan password baru anda.
<br>
<br>

Admin BPLHD
</body>
</html>